.data{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 20px;
}

.books-group{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgb(42, 42, 42);
    color: inherit;
    margin-bottom: 20px;
    padding: 20px;
    
}

.img-book{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgb(42, 42, 42);
    color: inherit;
    margin-bottom: 20px;
    padding: 20px;
    
}